@model IEnumerable<Proj400.Models.ProductInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<h2>All Products</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.product_Name)</th>
            <th>@Html.DisplayNameFor(model => model.product_Desc)</th>
            <th>@Html.DisplayNameFor(model => model.product_Price)</th>
            <th>@Html.DisplayNameFor(model => model.product_Category)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.product_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.product_Desc)</td>
                <td>@Html.DisplayFor(modelItem => item.product_Price)</td>
                <td>@Html.DisplayFor(modelItem => item.product_Category)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.product_ID }) |
                    @Html.ActionLink("Details", "Details", new
               {
                   id = item.product_ID
               }) |
                    @Html.ActionLink("Delete", "Delete", new
               {
                   id = item.product_ID
               })
                </td>
            </tr>
        }
    </table>*@


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Products</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Name</th>
                <th class="text-right">Price</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.product_ID</td>
                    <td>
                        @Html.ActionLink(item.product_Name, "Edit", new
                   {
                       item.product_ID
                   })
                    </td>
                    <td class="text-right">@item.product_Price.ToString("c")</td>
                    <td>
                        @*<div class="text-left">
                            @using (Html.BeginForm("Edit", "Admin"))
                            {
                                @Html.Hidden("product_ID", item.product_Name)
                                <input type="submit"
                                       class="btn btn-warning btn-xs"
                                       value="Edit" />
                            }
                        </div>*@
                        <div  class="text-right">
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("product_ID", item.product_Name)
                                <input type="submit"
                                       class="btn btn-danger btn-xs"
                                       value="Delete" />
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new product", "Create", null, new { @class = "btn btn-success" })
    </div>
</div>