@model Proj400.Models.ProductInfo

<div class="col-sm-4 well">
    <h3>
        @if (Model.Image_Data != null)
        {
            <div>
                <img class="img-thumbnail" style="width:100px; height:100px;" src="@Url.Action("GetImage", "ProductInfo",new { Model.product_ID })" />
            </div>
        }


        @*<img src="~/img/1.jpg" style="width:100%; height:100%;">*@
        <strong> @Model.product_Name</strong>
    </h3>
    <div><span class="pull-right label label-primary"> @Model.product_Price.ToString("c")</span></div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.product_ID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }


    <span class="lead"> @Model.product_Desc</span>


</div>






